

<nz-layout class="layout">
    <div class="sticky top-0">
    <nz-header class="flex flex-col justify-center items-center">
       <div class="flex flex-col justify-center items-center">
        <nz-input-group   nzSearch [nzAddOnAfter]="suffixIconButton" >
          
            <input style="width: 700px " type="text" nz-input placeholder="Search from over thousands inspection and checklists templates"/>
            
          </nz-input-group>
          
          
          <ng-template #suffixIconButton>
           
            <button  nz-button nzType="primary">
                <i nz-icon nzType="search"></i>
               Search
              </button>
           
          </ng-template>
        </div>
        
      </nz-header>
    </div>
    
    <nz-layout class="right-layout">
        <nz-sider nzTheme= "light">
            
            
            <div class="flex flex-col justify-self-start ml-5 text-black"> 
               <div class="font-bold">Sort By</div>
               <br/>
               <div><a>By Popular</a></div>
               <br/>
               <div><a>Most Recent</a></div>
               <br/>
               
               <div class="font-bold">Category</div>
               <br/>
               <div>
                <label nz-checkbox >Safety</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Quality</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Maintainance</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >ISO</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Incident Management</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Data Collection</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Audits</label>
               </div>
               <br/>
               <br/>
               <div class="font-bold">Industries</div>
               <br/>
               <div>
                <label nz-checkbox >Transportation</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Retail</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Property Management</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Manifacturing</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Logistics</label>
               </div>
               <br/>
               <div>
                <label nz-checkbox >Healthcare</label>
               </div>
                <br/>
                <br/>
                <br/>
              



            
        </div>
          </nz-sider>
      <nz-content>
          
        <div class="inner-content grid-cols-2">
           
          ...
          <br />
          Really
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          long
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          ...
          <br />
          content
        </div>
      </nz-content>
     
    </nz-layout>
    <nz-footer><nz-pagination [nzPageIndex]="1" [nzTotal]="500"></nz-pagination></nz-footer>
  </nz-layout>